.fpage{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(255,255,255,0.3),rgba(0,0,0,0.9)), url(aero.jpg);
    background-position: center;
    background-size: cover;
    
}
img{
    position: relative;
    left: 0px;
    height: 100px;
    width: auto;
    
}

.hello{
    font-size: 30px;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 2% 2%;
    justify-content:space-between;
    align-items:flex-start;
}

.nav-link{
    
    padding: 1.5%;
    flex: 1;
    text-align: right;
}

.nav-link ul li{
    list-style:none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}

.nav-link ul li a{
    
    color: #252425;
    text-decoration:none;
    font-size: 18px;
    opacity: 0.7;
    transition: 0.5s;
    
}
.nav-link ul li a::after{
    content:'';
    width:0%;
    height: 2px;
    background:black;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-link ul li a:hover{
    
    
    font-size: 25px;
    color: black;
    opacity: 1;
    font-weight:bold;
}

.nav-link ul li a:hover::after{
    
    width:100%;
}

.me{
    display:flex;
    padding:1% 10%;
    align-items:center;
}
.portrait{
    position:absolute;
    top:18.2%;
    
}
.photo img{
    
    background-color: #ccc;
    background-size: auto;
    padding:10% 5%;
    height: 400px;
    width: auto;
    border-radius: 1rem;
}
.container
{
    background-color: #ccc;
    border-radius: 1rem;
    width: 60em; 
    height:400px;
    position:absolute;
    left:450px;
    top:23.6%;
    font-size: 15px;
}
h1{
    font-size:48px;
    margin-bottom:0.5em;
}

p{
    font-size:17px;
}

.head::after{
    
    content:'';
    width:26%;
    height: 4px;
    background:black;
    display:block;
}
